<section class="header">
    <div class="container">
        <h1>Objetivos</h1>
    </div>
</section>
<section class="objetivos">
    <div class="container">
        <div class="objetivo">
            <h2> El control de su negocio y de su hogar</h2>
            <p>Es imposible que el propietario de un negocio esté las 24 horas del día físicamente
                en el establecimiento, motivo por el queinstalar cámaraste permite ver qué es lo que 
                sucede en el caso de que no estés tranquilo o tengas un mal presentimiento, lo único que 
                necesitas es tener conexión a internet para ver en tiempo real qué está pasando.
            </p>
        </div>
        <div class="objetivo">
            <h2>Evitar acciones ilegales</h2>
            <p>No hay nada que eche más para atrás a ladrones y atracadores que ver que el negocio y la vivienda  dispone de unsistema completo de seguridad. Antes de robar tu negocio/ vivienda  y saber que serán grabados, se lo pensarán dos veces, aumentando drásticamente la probabilidad de que no realicen el acto.
            </p>
        </div>
        <div class="objetivo">
            <h2> Protección</h2>
            <p>Combinar lascámaras de vigilanciacon un sistema de alarma es la mejor opción para poder dormir tranquilo por las noches, sabiendo que tu negocio/vivienda estarán  a salvo y serás avisado en el caso de que ocurra lo peor. Ante cualquier problema, la alarma sonará, atrayendo a la policía y siendo los delincuentes grabados.
            </p>
        </div>
        <div class="objetivo">
            <h2> Empleados/familia más protegidos</h2>
            <p>Cuando un negocio está abierto al público, es normal tener empleados que atiendan las necesidades de los consumidores. Para otorgarles ese plus detranquilidad y seguridad, las cámaras de vigilancia son la opción más escogida.En la vivienda los integrantes de la familia también se sienten más protegidos Lascámaras de vigilanciahan dado un vuelco gracias a la implementación de las nuevas tecnologías, pudiendo encontrar una gran variedad de modelos que contribuyen al cuidado y supervisión de tu hogar o local de negocio.
            </p>
        </div>
    </div>
</section>