<section class="header">
    <h1><span>PRO</span>Security</h1>
    <h5>Protegé tu propiedad</h5>
    <p>Tesis de Alejando Angulo</p>
</section>
<section class="mision">
    <div class="container">
        <h1>Misión</h1>
        <p>Proporcionar y garantizar seguridad a nuestros clientes 
            con una asesoramiento profesional y calificado empleando tecnología innovadora, 
            adaptada a las necesidades y exigencias, permitiendo generar 
            tranquilidad y confianza.
        </p>
    </div>
</section>
<section class="vision">
    <div class="container">
        <h1>Visión</h1>
        <p>Consolidarnos como empresa líder en seguridad reconocida por su efectividad.</p>
    </div>
</section>