<section class="header">
    <h1>Preguntas frecuentes</h1>
</section>
<section class="preguntas">
    <div class="container">
        <div class="pregunta">
            <h1>
                <li>¿Porqué debería realizar mantenimiento a mis cámaras de seguridad?</li>
            </h1>
            <p>El mantenimiento periódico preventivo de las cámaras de seguridad es de suma 
                importancia, garantiza el buen funcionamiento y alarga la vida útil de los equipos 
                y del sistema complementario que lo conforman.
            </p>
        </div>
        <div class="pregunta">
            <h1>
                <li>¿Cuando debo hacer el mantenimiento?</li>
            </h1>
            <p>El tiempo para hacer mantenimiento se determina en base a las condiciones ambientales 
                a las cuales está expuesto el equipo. En ambientes normales, recomendamos realizar 
                el mantenimientode cámaras de seguridad al menos una vez al año, aun así el sistema se 
                encuentre operativo.En ambientes más agresivos (polvorientos, húmedos, salinos) se debe 
                realizar con mayor frecuencia a la habitual.
            </p>
        </div>
        <div class="pregunta">
            <h1>
                <li>¿En qué consiste el mantenimiento?</li>
            </h1>
            <ul>
                <li>Limpieza general</li>
                <li>Mediciones eléctricas</li>
                <li>Pruebas y actualización</li>
                <li>Informe técnico</li>
            </ul>
        </div>
        <div class="pregunta">
            <h1>
                <li>¿Cómo contratarnos?</li>
            </h1>
            <p>Se efectúa por medio de nuestro formulario de contacto, completandotodos los datos, 
                e indicando tipo de equipo y cantidad de cámaras instaladas.También puedes hacerlo 
                llamando o escribiendo por WhatsApp al 3513 27-9593.
                La cotización es sin cargo y sin compromiso.
            </p>
        </div>
    </div>
</section>